* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, sans-serif;
}
/* Contenitore generale */
.container {
    position: relative;
    width: 500px;
    margin: 100px auto;
}

/* Input */
.search-input {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;                  /* Rimozione focus predefinito browser */
}

.search-input:focus {
    border-color: #ff9900;
    box-shadow: 0 0 0 2px rgba(255, 153, 0, 0.2);
}

/* Dropdown */
.suggestions-container{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    border-top: none;
    max-height: 250px;
    overflow-y: auto;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.suggestions-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Singolo elemento */
.suggestion-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 14px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
}

.dropdown-item:hover {
    background-color: #f7f7f7;
}

/* Icona */
.icon {
    font-size: 14px;
    color: #888;
}